/* 
    Document   : style
    Created on : 05.11.2013, 17:48:17
    Author     : marko
    Description:
        Purpose of the stylesheet follows.
*/

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:600,600italic,700,700italic,400,400italic);

body {
  margin: 0px;
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: 400;
  padding-top: 140px;
}

a {
  text-decoration: none;
  color: #a0a1ae;
}

hr {
  margin-top: 10px;
  margin-bottom: 40px;
  border: 1px solid #14162d;
}

#header {
  -webkit-transform: translate3d(0,0,0);
  background-image: url('images/background_header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 100%;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #d9d9d9;
  height: 130px;
  border-bottom: 10px solid #14162d;
  margin-top: -140px;
}

.div_center {
  width: 80%;
  margin:0 auto;
}

.div_center2 {
  width: 70%;
  margin: 0 auto;
}

#header_title {
  background-image: url('images/logo.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 120px;
  width: 120px;
  float: left;
  cursor: pointer;
}

.menuItem {
  float: right;
  height: 100%;
  line-height: 210px;
  font-weight: bold;
  margin-left: 5%;
  cursor: pointer;
}

#start {
  background-image: url('images/startseite.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: table-cell;
  vertical-align: bottom;
}

.start_container {
  position: relative;
  left:50%;
  bottom: 15%;
  width:520px;
  margin-left:-260px;
  color:white;
  font-weight:bold;
  text-align:left;
}

.start_container div:nth-child(1) {
   height:300px;
   font-size: 65px;
}

.start_container div:nth-child(2) {
  font-size: 35px;
  letter-spacing: 2px;
}

.arrow_down {
  position: relative;
  bottom: 10%;
  cursor: pointer;
  text-align: center;
  width: 62px;
  height: 41px;
  left: 50%;
  margin-left: -31px;
}

#press .arrow_down {
  bottom: 5px;  /*Safari on Windows*/
}

#apps_pocketcode {
  background-image: url('images/background_pocketcode.jpg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: cover;
}

.content_apps {
  position: relative;
  top: 20%;
  width: 50%;
  max-width: 361px;
  min-width: 250px;
  padding:15px;
  background-color: #fff;
}

.content_apps img {
  width: 100%;
}

.content_apps div:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 15px;
}

#press {
  padding-bottom: 10px;
}

#press_left {
  float:left;
  height:100%;
  width: 70%;
}

#press_title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
}

.press_img {
  min-width: 125px;
  max-width: 269px;
  width: 35%;
  float:left;
  margin-right: 25px;
}

.press_article {
  padding-bottom: 10px;
}

.button {
  float:right;
  background-color: #fd7722;
  color:white;
  font-weight: bold;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 10px;
  text-align: center;
}

#press_right {
  height: 100%;
  float: right;
}

#press_right_mobile {
  display: none;
}

.press_contact {
  position: relative;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  text-align: center;
  padding: 6px;
}

.press_contact span {
  font-size: 20px;
  font-weight: bold;
}

.press_contact a {
  color: black;
}

#contact {
  background-color: #14162d;
  height: 200px;
  padding-top: 50px;
}

.contact_container {
  width: 33%;
  min-width: 240px;
  color: #a0a1ae;
  float: left;
}

.contact_container div:first-child, #contact_info div:nth-child(2){
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

#email {
  background-image: url('images/email.jpg');
  background-repeat: no-repeat;
  width: 75px;
  height: 40px;
  float: left;
}

#contact_info div:last-child {
  padding-left: 75px;
}

#contact_follow{
  text-align: center;
}

#community {
  position:relative;
  width:110px;
  left:50%;
  margin-left:-55px;
}

#community a :nth-child(1) {
  float: left;
}

#twitter {
  background-image: url('images/twitter.jpg');
  background-repeat: no-repeat;
  width: 23px;
  height: 24px;
  position: relative;
  left: 50%;
  margin-left: -60px;
  float:left;
}

#contact_developer {
  text-align: right;
}

#footer {
  height: 150px;
}

#footer_logo {
  background-image: url('images/logo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 150px;
  height: 150px;
  float:left;
}

#copyright {
  float: right;
  display: table-cell;
  line-height: 150px;
  color: #a0a1ae;
  height: 150px;
}

.clear {
  clear: both;
}

#apps_pocketcode .div_center, #press .div_center {
  height: 100%;
}

@media screen and (max-width: 1100px) {
  .div_center2{
    width: 90%;
  }
}

@media screen and (max-width: 865px) {
  .div_center {
    width: 95%;
  }
  
  .start_container {
    width:400px;
    margin-left:-200px;
  }
  
  .start_container div:nth-child(1) {
    height:225px;
    font-size: 50px;
  }

  .start_container div:nth-child(2) {
    font-size: 20px;
  }
  
  #press_right {
    display: none;
  }
  
  #press_right_mobile {
    display: block;
  }
  
  #press_left {
    width: 100%;
  }
  
  .contact_container {
    clear: both;
    text-align: center;
    margin-top: 15px;
    width: 100%;
  }
  
  .contact_container div:first-child, #contact_info div:nth-child(2){
    margin-bottom: 0px;
  }
  
  #contact_info :nth-child(1) {
    position: relative;
    left: 50%;
    margin-left: -25px;
  }
  
  #contact_info :nth-child(2) {
    clear: both;
  }
  
  #contact_developer {
    text-align: center;
  }
  
  #contact {
    height: 250px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-top: 60px;
  }
  
  .div_center2{
    width: 70%;
  }
  
  #header {
    height: 50px;
    margin-top: -60px;
  }
  
  #header_title {
    font-size: initial;
    line-height: 23px;
    letter-spacing: 0px;
    margin-right: 5%;
  }

  .menuItem {
    float: left;
    line-height: 23px;
    margin-left: auto;
    margin-right: 5%;
  }
  
  .start_container {
    width:280px;
    margin-left:-140px;
    bottom: 10%;
  }
  
  .start_container div:nth-child(1) {
    line-height: 45px;
    height: 140px;
    font-size: 35px;
  } 
  
  .content_apps {
    top: 5%;
  }
}


@media screen and (max-width: 500px) {
  
  #footer_logo {
    float: none;
    position: relative;
    width: 150px;
    left: 50%;
    margin-left: -75px;
  }
  
  #copyright {
    float: left;
    height: 50px;
    line-height: normal;
    color: #a0a1ae;
    position: relative;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  
}