/* 
    Document   : style
    Created on : 05.11.2013, 17:48:17
    Author     : marko
    Description:
        Purpose of the stylesheet follows.
*/

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:600,600italic,700,700italic,400,400italic);

body {
  margin: 0px;
  font-family: 'Titillium Web', Arial, sans-serif;
  font-weight: 400;
  padding-top: 85px;
}

hr {
  margin-top: 10px;
  margin-bottom: 40px;
  border: 1px solid #14162d;
}

#header {
  background-image: url('images/background_header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 100%;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #d9d9d9;
  height: 75px;
  border-bottom: 10px solid #14162d;
  margin-top: -85px;
}

#catrobat_logo {
  img: url('images/logo_transparent.png');
  position: relative;
  left: 0%;
  margin-left: 10px;
  margin-bottom: 5px;
  float:left;
}

.div_center {
  width: 80%;
  margin:0 auto;
}

.div_center2 {
  width: 70%;
  margin: 0 auto;
}

#header_title {
  height: 100%;
  font-size: 35px;
  line-height: 75px;
  letter-spacing: 2px;
  font-weight: bold;
  float: left;
  cursor: pointer;
}

.menuItem {
  float: right;
  height: 100%;
  line-height: 75px;
  font-weight: bold;
  margin-left: 5%;
  cursor: pointer;
}

#start {
  background-image: url('images/startseite.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: table-cell;
  vertical-align: bottom;
}

.start_container {
  position: relative;
  left:50%;
  bottom: 15%;
  width:520px;
  margin-left:-260px;
  color:white;
  font-weight:bold;
  text-align:left;
}

.start_container div:nth-child(1) {
   height:300px;
   font-size: 65px;
}

.start_container div:nth-child(2) {
  font-size: 35px;
}

.arrow_down {
  position: relative;
  bottom: 10%;
  cursor: pointer;
  text-align: center;
  width: 62px;
  left: 50%;
  margin-left: -31px;
}

.arrow_up {
  position: relative;
  bottom: 10%;
  cursor: pointer;
  text-align: center;
  width: 62px;
  left: 50%;
  margin-left: -31px;
}

#apps_pocketcode {
  background-image: url('images/background_pocketcode.jpg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: cover;
}

.content_apps {
  position: relative;
  top: 20%;
  width: 50%;
  max-width: 361px;
  min-width: 250px;
  padding:15px;
  background-color: #fff;
  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
  }

.content_apps div:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 15px;
}

.goto_dev_blog {
  position: relative;
  top: 20%;
  width: 50%;
  max-width: 361px;
  min-width: 250px;
  padding: 15px;
  background-color: #fd7722;
  font-size: 25px;
  color:white;
  font-weight: bold;
  text-align: center;
  margin-top: 13px;
}

#press_left {
  float:left;
  height:100%;
  width: 70%;
}

#press_title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
}

#press_text {
  padding-bottom: 20px;
}

.press_img {
  min-width: 200px;
  max-width: 269px;
  width: 35%;
  float:left;
  margin-right: 25px;
}

.press_article {
  padding-bottom: 10px;
}

.button {
  float:right;
  background-color: #fd7722;
  color:white;
  font-weight: bold;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 10px;
  text-align: center;
}

#press_right {
  height: 100%;
  float: right;
}

#press_contact {
  text-align: center;
  padding: 6px;
  position: relative;
  top: 25%;
  height: 266px;
  margin-top: -133px;
}

#press_contact span {
  font-size: 20px;
  font-weight: bold;
}

#contact {
  background-color: #14162d;
  height: 309px;
  padding-top: 50px;
}

.contact_container {
  height: 260px;
  width: 33%;
  min-width: 240px;
  color: #a0a1ae;
  float: left;
}

.contact_container div:first-child, #contact_info div:nth-child(2){
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

#email {
  background-image: url('images/email.jpg');
  background-repeat: no-repeat;
  width: 75px;
  height: 40px;
  float: left;
}

#contact_info div:last-child {
  padding-left: 75px;
}

#contact_follow {
  text-align: center;
}

#facebook {
  background-image: url('images/facebook.jpg');
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  position: relative;
  left: 50%;
  margin-left: -60px;
  margin-bottom: 5px;
  float:left;
}

#twitter {
  background-image: url('images/twitter.jpg');
  background-repeat: no-repeat;
  width: 23px;
  height: 24px;
  position: relative;
  left: 50%;
  margin-left: -60px;
  float:left;
}

#googleplus {
  background-image: url('images/googleplus.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  position: relative;
  left: 52%;
  margin-left: -60px;
  margin-bottom: 5px;
  float:left;
}

#contact_developer {
  text-align: right;
}

#footer {
  height: 150px;
}

#footer_logo {
  background-image: url('images/logo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 150px;
  height: 150px;
  float:left;
}

#copyright {
  float: right;
  display: table-cell;
  line-height: 150px;
  color: #a0a1ae;
  height: 100%;
}

.clear {
  clear: both;
}

#apps_pocketpaint .div_center, #apps_pocketcode .div_center, #press .div_center {
  height: 100%;
}

.content_apps :first-child {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .div_center2{
    width: 90%;
  }
}

@media screen and (max-width: 830px) {
  .div_center {
    width: 95%;
  }
  
  .start_container {
    width:400px;
    margin-left:-200px;
  }
  
  .start_container div:nth-child(1) {
    height:225px;
    font-size: 50px;
  }

  .start_container div:nth-child(2) {
    font-size: 20px;
  }
  
  .contact_container {
    width: 50%;
  }
  
  #contact_follow, #contact_developer {
    height: 135px;
    text-align: center;
  }
  
  .menuItem {
    margin-left: 15px;
  }
}

@media screen and (max-width: 710px) {
  .goto_dev_blog {
    font-size: 18px;
    top: 110px;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-top: 60px;
  }
  
  .div_center2{
    width: 70%;
  }
  
  #header {
    height: 50px;
    margin-top: -60px;
  }
  
  #header_title {
    font-size: initial;
    line-height: 23px;
    letter-spacing: 0px;
    margin-right: 5%;
  }

  .menuItem {
    float: left;
    line-height: 23px;
    margin-left: auto;
    margin-right: 5%;
  }
  
  .start_container {
    width:280px;
    margin-left:-140px;
    bottom: 10%;
  }
  
  .start_container div:nth-child(1) {
    line-height: 45px;
    height: 140px;
    font-size: 35px;
  }

  .start_container div:nth-child(2) {
    font-size: 25px;
  }
  
  .arrow_down {
    bottom: 45px;
  }
  
  .content_apps {
    top: 5%;
  }
  
  .content_apps div:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  #contact {
    height: 550px;
  }
  
  .contact_container {
    min-width: 100%;
    height: auto;
  }
  
  .contact_container div:first-child, #contact_info div:nth-child(2){
    margin-bottom: 0px;
    margin-top: 20px;
  }
  
  .goto_dev_blog {
    font-size: 18px;
    top: 25px;
  }
}