@import url(http://fonts.googleapis.com/css?family=Titillium+Web:600,600italic,700,700italic,400,400italic);

html, body {
  margin: 0;
  font-family: 'Titillium Web', Arial, sans-serif;
  font-size: 16px;
  height: 100%;
}

a {
  text-decoration: none;
  color: #a0a1ae;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

hr {
  margin-bottom: 40px;
  border: 1px solid #14162d;
  clear: both;
}

nav {
  z-index: 1000;
}

section {
  height: 100%;
  min-height: 100%;
  padding-top: 70px; /* height of collapsed header*/
}

#header {
  background-image: url('images/background_header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 100%;
  background-color: #d9d9d9;
  position: fixed;
  width: 100%;
  height: 140px;
  border: 0px;
  border-bottom: 10px solid #14162d;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  transition: height .5s;
  border-radius: 0px;
}

section, #header {
  min-width: 320px;
}

#header_title {
  background-image: url('images/logo.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 120px;
  width: 120px;
  float: left;
  cursor: pointer;
  -webkit-transition: height .5s, width .5s;
  -moz-transition: height .5s, width .5s;
  transition: height .5s, width .5s;
}

#bs-example-navbar-collapse-1 {
  border-top: 0px;
}

#bs-example-navbar-collapse-1 > ul,
#header .navbar-header button{
  margin-top: 80px;
  border-color: #000;
  -webkit-transition: margin-top .5s, width .5s;
  -moz-transition: margin-top .5s, width .5s;
  transition: margin-top .5s, width .5s;
}

.navbar-header > button > span {
  background-color: #000 !important;
}

.menuItem {
  font-weight: bold;
  cursor: pointer;
}

.menuItem > a {
  color: #000 !important;
  padding-right: 0px !important;
  padding-left: 50px !important;
}

.header-collapse {
  height: 75px !important;
}

.header-collapse #header_title {
  height: 62px;
  width: 250px;
}

.header-collapse #bs-example-navbar-collapse-1 > ul,
.header-collapse .navbar-header button{
  margin-top: 10px !important;
}

.centered {
  height: 100%;
  width: 80%;
  margin: auto;
}

.arrow-down {
  cursor: pointer;
  width: 62px;
  height: 41px;
  margin: -46px auto 5px auto;
}

img {
  margin: 0;
  padding: 0;
}

#start {
  padding-top: 140px; /* height of header */
  background-image: url('images/startseite.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /*text-align: center;*/
  /*display: table-cell;*/
  /*vertical-align: bottom;*/
}

#start-container {
  width: 520px;
  margin: 75px auto 0px auto;
  font-size: 65px;
  font-weight: bold;
  color: white;
}

#start-container > div:nth-child(2) {
  font-style: italic;
  font-size: 60%;
  margin-top: 20px;
}

#pocketcode-info {
  float: left;
  width: 361px;
  margin-top: 150px;
}

#pocketcode > div > div:nth-child(2) {
  height: 100%;
}

#pocketcode-info {
  background: #fff;
}

#pocketcode-info > div:nth-child(2){
  margin: 25px 0px 15px 0px;
}

#pocketcode-info > div:nth-child(3){
  text-align: center;
}

#background-pocketcode {
  background-image: url('images/background_pocketcode.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  height: 100%;
}

#news {
  padding-bottom: 41px;
  height: auto;
}

#news #news_title {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

#news .news_article {
  padding-bottom: 20px;
}

#news .news_article > img {
  min-width: 125px;
  max-width: 269px;
  width: 35%;
  float: left;
  margin-right: 25px;
  margin-bottom: 10px;
}

#news_left {
  float: left;
  height: 100%;
  width: 75%;
}

#news_right {
  float: right;
  height: 100%;
}

.press_contact {
  position: relative;
  width: 150px;
  height: 150px;
  top: 75px;
  text-align: center;
  padding: 6px;
}

.press_contact span {
  font-size: 20px;
  font-weight: bold;
}

.press_contact a {
  color: black;
}

.button {
  float:right;
  background-color: #fd7722;
  color:white;
  font-weight: bold;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

#news_right_mobile {
  display: none;
}

#contact-footer {
  clear: both;
}

#contact {
  background-color: #14162d;
  height: 50%;
  padding-top: 50px;
}

.contact_container {
  width: 33%;
  min-width: 225px;
  color: #a0a1ae;
  float: left;
}

.contact_container div:first-child, #contact_info div:nth-child(2){
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

#email {
  background-image: url('images/email.jpg');
  background-repeat: no-repeat;
  width: 75px;
  height: 40px;
  float: left;
}

#contact_info div:last-child {
  padding-left: 75px;
}

#contact_follow{
  text-align: center;
}

#community {
  position:relative;
  width:110px;
  left:50%;
  margin-left:-55px;
}

#community a :nth-child(1) {
  float: left;
}

#twitter {
  background-image: url('images/twitter.jpg');
  background-repeat: no-repeat;
  width: 23px;
  height: 24px;
  position: relative;
  left: 50%;
  margin-left: -60px;
  float:left;
}

#contact_developer {
  text-align: right;
}

#footer {
  height: 150px;
}

#footer_logo {
  background-image: url('images/logo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 150px;
  height: 150px;
  float:left;
}

#copyright {
  float: right;
  display: table-cell;
  line-height: 150px;
  color: #a0a1ae;
  height: 150px;
}

@media screen and (max-width: 1024px) {
  .centered {
    width: 90%;
  }

  #background-pocketcode {
    background-size: 50%;
  }
}

@media screen and (max-width: 800px) {

  #pocketcode-info {
    float: none;
    margin: 20px auto 0px auto;
  }

  #background-pocketcode {
    background-position: top;
    height: 350px;
  }
}

@media screen and (max-width: 767px) {

  #header-mobile {
    display: block;
  }

  #bs-example-navbar-collapse-1 > ul {
    margin-top: 20px !important;
    background-color: #14162d;
  }

  .menuItem > a {
    color: #fff !important;
  }

  #start-container {
    width: 400px;
    font-size: 50px;
  }

  #news_left {
    float: none;
    width: 100%;
  }

  #news_right {
    display: none;
  }

  #news_right_mobile {
    display: block;
  }

  .press_contact {
    margin: auto;
    top: auto;
    margin-top: 0px;
  }

  .contact_container {
    float: none;
    text-align: center !important;
    margin: -15px auto 30px auto;
  }

  #email {
    float: none;
    width: 50px;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  #background-pocketcode {
    background-size: 65%;
  }
}

@media screen and (max-width: 500px) {

  #footer_logo {
    float: none;
    margin: auto;
  }

  #copyright {
    width: 100%;
    height: 100px;
    text-align: center;
  }

  #copyright a:hover {
    color: #a0a1ae;
  }

}

@media screen and (max-width: 420px) {
  .centered {
    width: 100%;
  }

  .header-collapse #header_title {

  }

  #start-container {
    width: 290px;
    font-size: 38px;
  }

  #pocketcode-info > div, #pocketcode-info div:nth-child(1) img {
    width: 320px;
  }

  #background-pocketcode {
    background-size: 80%;
  }
}

@media screen and (max-height: 700px) {
  #start-container {
    margin-top: 25px;
  }

  section {
    min-height: 610px;
  }
}