@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
	padding-top: 32px;
	background: #EEE;
}

h1 {
	margin: 0;
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	width: 100%;
	background: linear-gradient(#EEE, #FFF);
}

h2 {
	margin: 0 0 4px 0;
	font-size: 16px;
}

table {
	text-align: left;
	display: inline-block;
	padding: 4px;
}

.textbox {
	border-radius: 2px;
	border: 1px solid #999;
	padding: 4px;
	background: #eee;
	box-sizing: border-box;
}

.textbox:not(#news_date):not(#login_user):not(#login_password) {
	width: 60vw;
}

.expandable {
	text-align: center;
	width: calc(100% - 32px);
	border-radius: 2px;
	background: #FFF;
	border: 1px solid #999;
	margin: 16px;
}

.credits {
	display: inline-block;
	border-radius: 2px;
	background: #ddd;
	margin: 4px;
	padding: 4px;
}

.credits > a {
	text-decoration: none;
	color: #000;
}

#credits-container {
	width: 60vw;
}

#logininfo {
	text-align: right;
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	padding: 8px;
	width: 100%;
	background: white;
	border-bottom: 1px solid #999;
}

#errors {
	z-index: 100;
	position: fixed;
	right: 16px;
	bottom: 16px;
	font-size: 14px;
	opacity: 0;
	padding: 16px 32px 16px 32px;
	border-radius: 8px;
	border: 1px solid #CA3535;
	background-color: #FF8080;
	cursor: default;
	transition: opacity 0.4s;
}

#success {
	z-index: 100;
	position: fixed;
	right: 16px;
	bottom: 16px;
	font-size: 14px;
	opacity: 0;
	padding: 16px 32px 16px 32px;
	border-radius: 8px;
	border: 1px solid #35CA35;
	background-color: #80FF80;
	cursor: default;
	transition: opacity 0.4s;
}

#dismiss {
	position: absolute;
	top: 4px;
	right: 6px;
	text-decoration: none;
	color: #000;
}

#loading {
	position: fixed;
	display: none;
	justify-content: space-around;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}

#loading > div {
	text-align: center;
	font-size: 14px;
	padding: 16px 32px 16px 32px;
	border-radius: 8px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.5);
}

#loading > div > img {
	vertical-align: middle;
	width: 48px;
	height: 48px;
	margin-bottom: 16px;
}